body {
    background: #2d3436;
    color: #dfe6e9;
}

.main-contain {
    margin-top: 2.5%;
}

/*         */
/*  Navbar */
/*         */

.navigation {
    margin-top: 2%;
}

.nav-item {
    display: inline-block;
    font-size: 1.2rem;
    margin: 5px 15px 5px 15px;
    border-bottom: solid 1px transparent;
}

.nav-item:hover {
    cursor: pointer;
    border-bottom: solid 1px #0984e3;
}

.nav-break {
    width: 75%;
    border-color: #0984e3;
}

/*          */
/*  Content */
/*          */

.content {
    margin-top: 3.5%;
}

.loot-week-header-divide {
    width: 20%;
    border-color: #0984e3;
}

.weeks-display {
    width: 75%;
    margin: 0 auto 0 auto !important;
}

.first-col {
    border-right: solid 1px #0984e3;
}